@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
/*<FontAwesomeIcon icon={faSearch} className='s-icon' size={20}/>*/


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Poppins', sans-serif; 
}
.container {
  /*max-width: 1500px;*/
  /*margin: 30px auto;*/
  overflow: auto;
  /*min-height: 300px;*/
  border: 1px solid steelblue;
  /*padding: 30px;*/
  /*border-radius: 5px;*/
  height:100vh;
}


.NavBar{
  background-color:rgb(23, 27, 33);
  height:50px;
  padding-left: 20px;
  padding-top:10px;
  margin-bottom: 100px;
  
}

h3{
  color:white;
  /*background-color:red;*/
  display:inline;
}

.SearchBar {
  position:relative;
  max-width: 500px;
  height:30px;
  margin:auto;
  background-color: yellow;
  box-shadow: 0 5px 10px rgba(0,0,0,0.4);
  border-radius: 25px;
}
.SearchBar input{
  /*background-color: red;*/
  position: absolute;
  height:100%;
  width:100%;
  border-radius:25px;
  background-color: #fff;
  outline: none;
  border:none;
  font-size: 14px;
  padding-left:20px;

}
.SearchBar .s-icon{
  position: absolute;
  right:0;
  top:0;
  width:50px;
  background-color:white;
  height:100%;
  font-weight: 100px;
  border-radius: 0 25px 25px 0;
  background-color: rgb(23, 27, 33);
  color:white;
  padding-top:5px;
  padding-bottom:5px;

}

.SearchBar .s-icon:hover{
  position: absolute;
  right:0;
  top:0;
  width:50px;
  height:100%;
  font-weight: 100px;
  border-radius: 0 25px 25px 0;
  background-color:red;
  color:white;
  padding-top:5px;
  padding-bottom:5px;

}

.SearchBox{
  /*background-color: sandybrown;*/
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  height:400px;
  border: 1px solid black;
}

.Message {
  /*background-color: chartreuse;*/
  border:none;
  height:50%;
  /*margin-bottom:5px;*/
  
}

.TextMessage {
  /*background-color: blue;*/
  text-align: center;
  max-width: 100%;
  margin-top: 40px;
}

.clickableAwesomeFont {
  cursor: pointer
}